doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript', src='/javascripts/jquery-1.11.0.min.js')
		script(type='text/javascript', src='/javascripts/main.js')
		script(type='text/javascript', src='/javascripts/rangy-log4javascript_stub.js')
		script(type='text/javascript', src='/javascripts/rangy-core.js')
		script(type='text/javascript', src='/javascripts/rangy-dom.js')
		script(type='text/javascript', src='/javascripts/rangy-domrange.js')
		script(type='text/javascript', src='/javascripts/rangy-wrappedrange.js')
		script(type='text/javascript', src='/javascripts/rangy-wrappedselection.js')
		script(type='text/javascript', src='/javascripts/rangy-cssclassapplier.js')
		script(type='text/javascript', src='/javascripts/rangy-highlighter.js')
		script(type='text/javascript', src='/javascripts/moment.js')
	body
		block content